html, body{
	font-size:16px;
	color: #dfdfdf;
	background-size: cover;
background-repeat: no-repeat;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1:hover {
  background-color: white;
  color: black;
  border: 2px solid #ffcc66;
}

.button1 {
  background-color: #ffcc66;
  color: white;
}

.box {

border-radius: 25px;
border: 2px solid #ffffff;
padding: 20px;
width: 90%;
height: 400px;
}
.article-btn{

width:23%;
float:left;
margin-left: 5%;
}
.saibhatt{

width:auto;
float:left;
}



.quiz-btn{

width:23%;
float:right;

}

.art-quiz{
width:100px;
height:100px;



}



.column1 {
  float: left;
  width: 40%;
  padding: 5px;
}
.column2 {
  float: left;
  width: 60%;
  padding: 5px;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column3 {

float : left;
/* width: 50%; */
width: 30.33%;

}

.column4 {

float : right;
/* width: 50%; */
width: 33.33%;

}

.column5 {
float: left;
width: 33.33%;



}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 200px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}



a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
	cursor: pointer;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #063647;
}

.section-2 {
	background-color: #052D3D;
}

.section-3 {
	background-color: #0E282E;
}

.section-4 {
	background-color: #063647;
	padding: 0.2rem;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {


	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent;
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
